/* .overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
} */

.menu {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 5rem 2.5rem 3rem;
  animation: slideInLeft 0.3s ease;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.closeBurger {
  position: absolute;
  top: 8px;
  left: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 24px;
  box-sizing: content-box;
}

.closeBurger span {
  display: block;
  width: 24px;
  height: 2px;
  background: #000000;
  border-radius: 2px;
}

.profileCard {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 1.5rem;
  border-radius: 20px;
  border: 1px solid #000000;
  background: #ffffff;
  cursor: pointer;
  text-align: left;
  box-sizing: border-box;
  text-decoration: none;
}

.profileAvatarPlaceholder {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 12px;
  background: #c3c3c3;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.name {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  color: #000000;
}

.nick {
  font-size: 1rem;
  color: #000000;
}

.arrow {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  padding: 1.2rem 1.5rem;
  border-radius: 20px;
  border: 1px solid #000000;
  background: #ffffff;
  box-sizing: border-box;
}

.navCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  text-decoration: none;
  color: #000000;
  font-size: 19px;
  font-weight: 400;
}

.navCard:hover {
  color: #ee7c30;
}

.primaryBtn,
.secondaryBtn,
.logoutBtn {
  width: 100%;
  border-radius: 60px;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  padding: 1.1rem 1.5rem;
  margin-bottom: 1.1rem;
}

.primaryBtn {
  display: block;
  text-align: center;
  border: 1px solid #000000;
  background: #ee7c30;
  color: #000000;
  text-decoration: none;
}

.primaryBtn:hover {
  background-color: #ee7c30;
  color: #ffffff;
}

.secondaryBtn {
  display: block;
  text-align: center;
  border: 1px solid #000000;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
}

.secondaryBtn:hover {
  background-color: #ee7c30;
  color: #ffffff;
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  border: 1px solid #000000;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

.logoutBtn:hover {
  background-color: #ee7c30;
  color: #ffffff;
}

.logoutIcon {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .menu {
    width: 350px;
    left: auto;
    right: 0;
    padding: 3.25rem 1.25rem 2rem;
    animation: slideInRight 0.3s ease;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
  }

  .closeBurger {
    right: 24px;
    left: auto;
    top: 16px;
    padding: 8px;
    gap: 4px;
    width: 24px;
  }

  .closeBurger span {
    width: 24px;
    height: 2px;
  }
}
