.page {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 90px;
  background-color: #ffffff;
}

.card {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 942 / 685;
  padding: 40px 150px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
}

.title {
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 24px;
  font-weight: 500;
}

.input {
  height: 56px;
  padding: 0 30px;
  border-radius: 60px;
  border: 1px solid #000000;
  font-size: 18px;
  font-weight: 400;
}
.input:focus {
  outline: none;
  border-color: #ed7c30;
  box-shadow: 0 0 0 2px rgba(237, 124, 48, 0.3);
}

.input::placeholder {
  color: #c3c3c3;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

.primaryBtn {
  padding: 0.9rem 7rem;
  margin-bottom: 1.1rem;
  border-radius: 60px;
  font-size: 22px;
  font-weight: 700;
  border: 2px solid #000000;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  background-color: #ed7c30;
}

.primaryBtn:hover {
  background-color: #e46f0c;
}

.linkBtn {
  margin-bottom: 1.1rem;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  font-weight: 700;
  padding: 0.9rem 2rem;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 32px 0 24px;
}

.text {
  font-size: 22px;
  text-align: left;
  margin-bottom: 24px;
}

.secondary {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.secondaryBtn {
  font-size: 22px;
  min-width: 250px;
  border: 1px solid #000000;
  border-radius: 60px;
  padding: 15px 35px;
  background-color: #ffffff;
  cursor: pointer;
}

.googleBtn {
  font-size: 22px;
  min-width: 250px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #000000;
  border-radius: 60px;
  padding: 15px 30px;
  background-color: #ffffff;
  cursor: pointer;
}

.googleBtn img {
  width: 22px;
  height: 22px;
}
.error {
  color: #d32f2f;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0px;
}

.reset {
  font-size: 16px;
  color: #333;
}

.reset span {
  color: #ed7c30;
  font-weight: 700;
  cursor: pointer;
}

.reset span:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .page {
    padding: 70px 50px;
  }
  .card {
    padding: 32px 40px;
  }
  .title {
    font-size: 28px;
  }
  .label {
    font-size: 16px;
  }
  .input {
    height: 42px;
    font-size: 16px;
  }
  .primaryBtn {
    font-size: 16px;
    font-weight: 800;
  }
  .linkBtn {
    font-size: 16px;
    font-weight: 800;
  }
  .text {
    font-size: 16px;
  }
  .secondaryBtn,
  .googleBtn {
    font-size: 16px;
  }
  .error,
  .reset {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .page {
    padding: 20px 30px;
  }
  .card {
    border: none;
  }

  .actions {
    flex-direction: column;
    align-items: stretch;
  }

  .primaryBtn {
    width: 100%;
    margin-bottom: 0px;
  }
  .linkBtn {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
