.filterBtn {
  font-size: 20px;
  color: black;
  background: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.filterBtn:hover,
.filterBtn:focus {
  border: 2px solid #040404;
  border-radius: 60px;
  padding: 9px 20px;
  margin: 0;
  font-weight: 500;
}
.archive {
  margin: 110px 80px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.archive h1 {
  margin: 0;
  font-weight: 500;
}
.filters {
  display: flex;
  justify-content: center;
  gap: 80px;
  border: 2px solid #ed7c30;
  border-radius: 60px;
  height: 44px;
  margin: 0 50px;
}
.archive h1 {
  margin-left: 50px;
}
.eventsContainer {
  display: grid;
  grid-template: auto / 400px 400px 400px;
  column-gap: 22px;
  row-gap: 40px;
  justify-content: center;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .archive {
    max-width: 610px;
    gap: 20px;
    margin-top: 40px;
  }
  .archive h1 {
    margin: 0;
    font-size: 28px;
  }
  .eventsContainer {
    grid-template: auto / 294px 294px;
  }
  .filters {
    margin: 0;
    height: 34px;
  }
  .filterBtn {
    font-size: 16px;
  }
  .filterBtn:focus,
  .filterBtn:hover {
    padding: 5px 15px 8px;
  }
  .eventsContainer{
    margin-top:20px;
    row-gap: 20px;
  }
}
@media(max-width:480px){
    .archive{
        max-width: 240px;
        gap: 20px;
        margin: 56px auto;
        
        
    }
    .archive h1 {
        font-size: 22px;
    }
    .eventsContainer{
        grid-template: auto / 240px;
        row-gap: 20px;
    }
    .filters{
        margin: 0;
        gap:20px;
        height: 30px;
        width: 240px;
        box-sizing: border-box;
        padding: 0 33px;
    }
    .filterBtn{
        font-size: 12px;
        width: fit-content;
    }
    .filterBtn:focus, .filterBtn:hover{
        padding: 5px 10px 8px ;
    }
}
