.page {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 90px;
  background-color: #ffffff;
}

.card {
  width: 100%;
  max-width: 650px;
  padding: 40px 150px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
}

.title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
  font-weight: 500;
}

.input {
  height: 56px;
  padding: 0 30px;
  border-radius: 60px;
  border: 1px solid #000000;
  font-size: 18px;
}
.input:focus {
  outline: none;
  border-color: #ed7c30;
  box-shadow: 0 0 0 2px rgba(237, 124, 48, 0.3);
}
.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkboxes {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkbox {
  display: block;
  gap: 12px;
  font-size: 18px;
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  flex-shrink: 0;
  margin-top: 1px;
  accent-color: #000000;
  margin-right: 10px;
  border-radius: 5px;
  width: 14px;
  height: 14px;
}

.policyLink {
  color: inherit;
  text-decoration: underline;
  display: inline;
}

.policyLink:hover {
  text-shadow: 2px 2px 5px rgba(237, 124, 48, 0.3);
}

.primaryBtn {
  margin-top: 10px;
  padding: 10px 60px;
  border-radius: 60px;
  font-size: 22px;
  font-weight: 700;
  border: 2px solid #000000;
  background-color: #ed7c30;
  cursor: pointer;
  align-self: flex-start;
}

.primaryBtn:hover {
  background-color: #e46f0c;
}

.error {
  color: #d32f2f;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.inputError {
  border-color: #d32f2f;
  box-shadow: 0 0 0 2px rgba(211, 47, 47, 0.3);
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordWrapper input {
  width: 100%;
  padding-right: 40px;
}

.passwordToggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #ed7c30;
  width: 24px;
  height: 24px;
}

.helper {
  font-size: 16px;
  color: #ed7c30;
  margin-top: 0px;
}

@media (max-width: 768px) {
  .card {
    padding: 32px 40px;
  }
  .title {
    font-size: 28px;
  }
  .label {
    font-size: 16px;
  }
  .input {
    height: 42px;
    font-size: 16px;
  }
  .primaryBtn {
    font-size: 16px;
    padding: 8px 40px;
  }
  .passwordToggle {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 480px) {
  .page {
    padding: 20px 10px;
  }
  .card {
    border: none;
  }
  .form {
    gap: 12px;
  }

  .label {
    font-size: 14px;
  }
  .input {
    height: 42px;
    font-size: 14px;
  }

  .primaryBtn {
    width: 100%;
  }
  .checkbox {
    font-size: 14px;
  }
}
