.mainPage{
    padding-left: 80px;
    padding-right: 250px;
    margin-top: 110px;
}
.picContainer {
    flex-shrink: 0;              
    width: 320px;
    height: 320px;
    background-color: #808080;
    border-radius: 20px;
}
.avatarPreview{
    width: 100px;
}
.userPic{
    width: 100%;
}
.picContainer {
    display: flex;
    width: 320px;
    height: 320px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.buttonLink{
    width: 310px;
    font-size: 1.375rem;
    font-family:"Stolzl",sans-serif;
    font-weight: 500;
    padding: 0.9375rem 1.875rem;
    background-color:#ED7C30 ;
    border: 2px solid #040404;
    border-radius: 60px;
    color: #040404;
    text-align: center;
    margin-top:40px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
}
.cancelBtn{
    composes:buttonLink;
    background-color: #fff;
}
.fileLabel{
   composes: buttonLink; 
}
.editPic{
    display: flex;
    flex-direction: column;
}
.profileInfo{
    display: flex;
    gap:100px;
}
.input {
    width: 100%;
    font-family: "Stolzl", sans-serif;
    border: 1px solid black;
    padding: 15px 35px;
    border-radius: 60px;
    font-size: 22px;
    box-sizing: border-box;
    margin-top: 10px;
}
.select{
    composes: input;

}
.selectField {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("src/assets/icons/down-arrow.png");
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: calc(100% - 30px) center;
  cursor: pointer;
}

.textarea{
    composes:input;
    min-height: 200px;
    overflow: hidden;
    resize: none;
}
.label{
    font-weight: 500;
    font-size: 24px;
    gap: 10px;
}
.container, .row{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.buttonsContainer{
    display: flex;
    gap:30px;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.interests{
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
}
.interests h3{
    font-size: 24px;
    font-weight: 500;
}
.interestsContainer {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.addMoreButton{
    font-size: 1.375rem;
    font-family: 'Stolzl', sans-serif;
    box-sizing: border-box;
    width: 300px;
    padding-left: 50px;
    border: none;
    background: none;
    cursor: pointer;
}


@media(max-width:768px){
    .mainPage{
        padding: 0;
        margin-left:60px;
    }
    .profileInfo{
        max-width: 620px;
        
    }
    .infoContainer, .buttonsContainer{
        max-width: 350px;
    }
    .buttonsContainer{
        flex-direction: column;
        gap:15px;
    }
    .buttonLink{
        margin-top: 0;
        font-size: 18px;
        padding: 10px;
    }
    .editPic{
        max-width: 200px;
        gap:15px;
    }
    .picContainer{
        width: 200px;
        height: 200px;
        font-size: 14px;
    }
    .editPic label {
        width: 200px;
        font-size: 16px;
    }
    .label,.input{
        font-size: 16px;
        
    }
    .input{
        padding: 10px 20px;
    }
    .textarea{
        margin-top: 0;
    }
    .addMoreButton{
        font-size: 16px;
        text-align: start;
    }
    .interests h3 {
        margin-top: 0;
        font-size: 24px;
    }
    .avatarPreview{
    width: 60px;
}
}
@media (max-width:480px){
 
    .mainPage{
        padding: 0;
        margin: 50px 0;
    }
    .profileInfo{
        width: 100%;
        flex-direction: column;
        max-width: 240px;
        gap:20px;
        margin: 0 auto;
    }
    .editPic{
        max-width: 150px;
        font-size: 14px;
        margin: 0 auto;
    }
    .picContainer{
        width: 150px;
        height: 150px;
        font-size: 14px;
    }
    .textarea{
        border-radius: 30px;
        min-height: 100px;
    }
    .editPic label {
        font-size: 14px;
        padding: 10px 30px;
        width: 150px;
        margin-top:10px;
    }
    .label,.input{
        font-size: 14px;
    }
    .input{
        padding: 10px;
        margin-top: 5px;
    }
    .addMoreButton{
        font-size: 14px;
       padding: 0;
        max-width: 240px;
    }
    .row, .container{
        gap:10px;
    }

    .interests h3{
        font-size: 14px;
        margin:20px 0 10px 0;
    }
    .interests{
        padding-bottom: 20px;
    }
    .buttonLink{
        font-size: 14px;
        width: 240px;
        padding: 10px;
        margin: 0;
    }
    .buttonsContainer{
        flex-direction: column;
        max-width: 240px;
        gap:10px;
    }
}