.mainPage{
    padding: 0 5rem;
    padding-right: 250px;
}
.container{
    display: flex;
    flex-direction: column;
}
.profileInfo{
    display: flex;
    gap:100px;
    font-size: 24px;
    box-sizing: border-box;
    margin-top: 6.875rem;
    
}
.picContainer {
    flex-shrink: 0;              
    width: 320px;
    height: 320px;
    background-color: #808080;
    border-radius: 20px;
}
.infoContainer{
    gap:40px;
    flex-wrap: wrap;
    width: 650px;
}
.title{
    font-weight: 500;
    margin: 0;
}
.value{
    font-weight: 400;
}
.mailAbout, .cityGenderAge{
    gap:20px;
    width: 100%;
    
}
.cityGender{
    gap:10px;
}

.buttonLink{
    width: 310px;
    font-size: 1.375rem;
    font-family:"Stolzl",sans-serif;
    font-weight: 500;
    padding: 0.9375rem 1.875rem;
    background-color:#ED7C30 ;
    border: 2px solid #040404;
    border-radius: 60px;
    color: #040404;
    text-align: center;
    margin-top:40px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
}
.deleteBtn{
    background-color: #fff;
}
.buttonsContainer{
    display: flex;
    gap:30px;
    width: 100%;
}
.socialsContainer{
    display: flex;
    flex-direction: column;
    gap:1.25rem;
}
.socials{
    display: flex;
    gap: 40px;
}
.socialMediaIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    height:3.125rem;
    cursor: pointer;
}
.socialMediaIcon svg{
     width: 3.125rem;
     height:3.125rem;
     color: #040404;
}
.interests {
    display: flex;
    flex-wrap: wrap;
    gap : 1.25rem;
    padding-top: 1.25rem;

}
.interestsContainer {
    border-bottom: 1px solid #C3C3C3 ;
    padding-bottom: 2.5rem;
}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.modal h3{
    font-weight: 500;
    margin: 0;
}
.modal p{
    margin: 20px 0;
}

.modalButtons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.confirmBtn {
   composes: buttonLink;
   padding: 10px 20px;
   width: fit-content;
}

.cancelBtn {
   background: #fff;
   composes: buttonLink;
   padding: 10px 20px;
   width: fit-content;
}
@media (max-width:768px){
    .mainPage{
        padding: 0;
        
    }
    .picContainer{
        max-width: 200px;
        height: 200px;
    }
    .profileInfo{
        font-size: 16px;
        max-width: 620px;
        gap:50px;
        margin: 60px auto;
    }
    .infoContainer, .interests,.socialsContainer{
        max-width: 310px;
        flex-wrap: wrap;
    }
    .infoContainer{
        gap:20px;
    }
    .socialMediaIcon{
        width: 30px;
    }
    .socials{
        gap:20px;
    }
    .buttonsContainer{
        max-width: 310px;
        flex-direction: column;
        gap:15px;
    }
    .buttonLink{
        font-size: 16px;
        margin: 0;
    }
    .socialsContainer{
        gap:10px;
    }
    
}

@media(max-width:480px){
    .mainPage {
        padding: 0 2.5rem;
        align-items: center;
    }
    .profileInfo{
        font-size: 22px;
        gap: 20px;
        flex-wrap: wrap;
        max-width: 240px;
        align-items: center;
        margin:0 auto;
        margin-top: 50px;

    }
    .picContainer{
        max-width: 6.875rem;
        height: 6.875rem;
    }
    .infoContainer{
        max-width: 240px;
        font-size: 14px;
        gap:20px;
    }
    .socials, .socialsContainer{
        max-width: 240px;
        gap:10px;
    }
    .socialMediaIcon, .socialMediaIcon svg{
        width: 30px;
    }
    .buttonsContainer{
        max-width: 240px;
        flex-wrap: wrap;
        gap: 10px;
    }
    .buttonLink{
        margin:0;
        padding: 10px;
        font-size: 14px;
        width: 240px;
    }
    .modal{
        padding:20px;
        font-size: 14px;
    }
    .cancelBtn, .confirmBtn{
        padding: 5px 13px;
    }

}