h3 {
  font-weight: 500;
  margin: 0;
  width: 100%;
}

.textarea {
  width: 100%;
  resize: none;
  font-family: inherit;
  border-radius: 30px;
  border: 1px solid black;
  padding: 15px 0 0 20px;
  height: 120px;
  width: 320px;
  box-sizing: border-box;
}

.submitBtn {
  width: 150px;
  font-size: 20px;
  font-family: inherit;
  font-weight: 500;
  padding: 10px 32.5px;
  background-color: #ed7c30;
  border: 2px solid #040404;
  border-radius: 60px;
  text-decoration: none;
  color: #040404;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  box-sizing: border-box;
}
.cancelBtn {
  composes: submitBtn;
  background-color: white;
  text-align: center;
  padding: 10px 18px;
}
.buttons {
  display: flex;
  gap: 20px;
  width: 320px;
  box-sizing: border-box;
}
.formInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  padding: 40px;
  background-color: white;
  border-radius: 20px;
}
.form {
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.submitted {
  composes: formInfo;
  gap: 0;
}
.submitted h2 {
  font-weight: 500;
}

@media (max-width: 768px) {
  .formInfo {
    padding: 24px;
    text-align: center;
  }
  .formInfo h3 {
    font-size: 16px;
  }
  .textarea {
    font-size: 14px;
    width: 272px;
    height: 100px;
  }
  .buttons {
    max-width: 272px;
    gap: 10px;
  }
  .submitBtn {
    font-size: 16px;
    width: 130px;
  }
}

@media (max-width: 480px) {
.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}
.textarea{
    max-width: 240px;
    font-size: 14px;
}
.submitBtn{
    font-size: 14px;
    width: 110px;
    padding: 8px 25px ;
}
.cancelBtn{
    padding: 8px 15px;
}
.buttons{
    gap: 20px;
    max-width: 240px;
}
}
