.create-account-text{
    display: flex;
    flex-direction: column;
    max-width: 33.125rem;
    flex-wrap: wrap;
}

.create-account-text p {
    font-size: 1.5rem;
    font-weight: 300;
}
.create-account-text  h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.button-link {
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.625em 1.729em;
    background-color:#ED7C30 ;
    border: 2px solid #040404;
    border-radius: 60px;
    text-decoration: none;
    color: #040404;
    text-align: center;
    line-height: 1;
}

.create-account-container{
    display: flex;
    max-width: 90rem;
    justify-content: flex-end;
    align-items: center;
    margin: 6.25rem auto;
    gap:210px;
    padding-left:4.875rem;

}

.home-page-img {
    flex: 1;                   
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.home-page-img img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

@media (max-width: 768px) {

    /* Home-Page 1-st part */
    .create-account-container {
        display: flex;
        padding:1.25rem ;       
        justify-content: center;
        align-items:center ;
        gap: 1.25rem;
        width: 100%;
        margin-top: 4rem;
    }

    .create-account-text {
        max-width: 100%;               
        width:18.375rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }  

    .create-account-text h1 {
        font-size:1.75rem;
        margin-bottom: 0;
    } 
    .create-account-text p {
        font-size: 1rem;   
    }

    .home-page-img {
        max-width: 18.375rem;               
        height: auto;                  
    }

    .home-page-img img {
        width: fit-content;
    }

    .button-link {             
        max-width: 13.9375rem;  
        font-size: 1.125rem;        
    }
   
}


@media (max-width: 480px) {
    .create-account-container {
        flex-direction: column;
        align-items: flex-start;
        max-width: 15rem; 
        margin-top: 3.5rem;    
    }

    .create-account-text h1 {
        font-size: 1.375rem; 
        line-height: 1.2;
        margin-bottom: 0;
        
    }

    .create-account-text p {
        font-size: 0.875rem;
        max-width: fit-content;
        margin-top: 0;
        margin-bottom: 0;
    }
    .create-account-text {
        display: contents; 
    }

    .create-account-text h1 { order: 1; }
    .create-account-text p  { order: 2; }
    .home-page-img          { order: 3;  } 
    .button-link            { order: 4; } 


    .home-page-img img{
        width: 15rem;
    }

    .button-link {
        font-size: 0.875rem ;
        padding: 0.6875rem 2.1875rem;
        width: 69%;      
        max-width: 13.75rem;
        border-radius: 2.5rem;
    }
}
        /* Home-Page 2-nd part */