.event-card-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 22.4rem;
    border: 1px solid black;
    border-radius: 30px;
    padding: 1.25rem 1.25rem 0.9375rem 1.25rem;
    
}
.event-card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    gap:0.625rem;
}
.event-card-image{
    width: 22.4375rem;
    height: 240px;
    margin-bottom:1.25rem;
}
.event-card-image img{
    width: 100%;
    border-radius: 25px;
}

.event-card-text h2 {
    font-weight: 500;
    margin: 0;
}
.event-card-text .city {
    font-weight: 500;
}
.event-card-text span {
    font-size: 1.375rem;
}
.event-card-text-link-container{
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: space-between;
}

.event-link-button img{
    border: 2px solid black;
    padding: 0.4375rem;
    border-radius: 50%;
    background-color: #ED7C30;
}
.event-link-button:hover {
  transform: scale(1.05);
}

@media(max-width: 768px){
    .event-card-container {
        max-width: 18.375rem;
        box-sizing: border-box;
        overflow: hidden;
        position:relative;
        padding: 0.91rem ;
    }
     .event-card-image {
    max-width:  16.4375rem;
    display: flex; 
    overflow: hidden; 
    }
    .event-card-image img {
    max-width: 16.4375rem;
    width: 100%;      
    height: 100%;     
    object-fit: cover;  
    display: block;
    }
    .event-card-text-link-container{
       width: 100%;
    }
    .event-card-text {
        gap:0.38rem;
    }
    .event-card-text h2 {
        font-size: 1.225rem;;
    }
    .event-card-text span {
        font-size: 1.225rem;;
    }
    .event-link-button img{
        width: 1.225rem;
        padding:0.229rem;
    }
    .event-link-button a{
       width: 1.53rem;
    }
}

@media (max-width:480px){
    .event-card-container {
        max-width: 15rem;
        box-sizing: border-box;
        overflow: hidden;
        position:relative;
        padding: 0.75rem ;
    }
    .event-card-image {
    max-width: 13.5rem;
    height: 214px;
    display: flex; 
    overflow: hidden; 
    margin-bottom: 0.625rem;
    }
    .event-card-image img {
    max-width: 13.5rem;
    width: 100%;      
    height: 100%;     
    object-fit: cover;  
    display: block;
    }
    .event-card-text-link-container{
       width: 100%;
    }
    .event-card-text {
        font-size: 0.875rem;
        gap:0.3125rem;
    }
    .event-card-text span {
        font-size: 0.875rem;;
    }
    .event-card-text h2 {
        font-size: 0.875rem;;
    }

    .event-link-button img{
        width: 1rem;
        padding:0.1875rem;
    }
    .event-link-button a{
       width: 1.25rem;
    }
}

