.event-category{
    display: flex;
    align-items: center;
    gap:0.625rem;
    border: 1px solid black;
    padding: 0.9375rem;
    border-radius: 60px;
    width: fit-content;
}

.event-category span {
    font-size: 1.375rem;
    flex-grow: 0;
    flex-shrink: 1;
    width: auto;
}
.event-category img {
    width: 1.875rem;
}

@media(max-width:768px){
    .event-category{
        padding: 0.38rem 1.13rem;
    }
}

@media(max-width:480px){
    .event-category{
        padding:0.3125rem 0.9275rem;

    }
    .event-category span {
    font-size: 0.875rem;
    display:inline-block;
    width:min-content;
    flex-grow: 0;
    flex-shrink: 1;
    width: auto;
    }
    .event-category img {
    width: 1.25rem;
    }
}