.footer {
  padding: 2rem 4.875rem;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.links a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
}

.links a:hover {
  color: #ee7c30;
}

.copyright {
  text-align: center;
  font-size: 1rem;
  color: #666;
  padding-top: 1.25rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 2rem 0.6rem;
  }
  .container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .section {
    align-items: center;
    text-align: center;
  }
  .title {
    font-size: 0.875rem;
  }

  .links a {
    font-size: 0.75rem;
  }

  .copyright {
    font-size: 0.75rem;
  }
}
