@font-face {
  font-family: "Stolzl";
  src: url("/assets/fonts/Stolzl-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stolzl";
  src: url("/assets/fonts/Stolzl-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Stolzl", sans-serif;
  margin: 0;
  padding: 0;
}
.react-datepicker-wrapper{
   display: flex !important;
   align-items: center !important;
   
}
.css-tj5bde-Svg{
  fill: black !important;
}